@media (max-width: 992px) {
  .navbarMainContainer {
    justify-content: center;
    align-items: flex-start;
  }

  .container-fluid {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .logoContainer {
    width: 50% !important;
  }

  .linksContainer {
    flex-direction: column;
    justify-content: center;
    margin-top: 20px;
  }

  .initSessionContainer {
    width: 60%;
    margin-top: 20px;
  }
}

@media (max-width: 1346px) {
  .linksContainer {
    align-items: flex-start !important;
    height: 45px;
  }
}

@media (min-width: 1346px) {
  .linksContainer {
    gap: 5px;
  }
}
