.loader {
  width: 40px;
  height: 40px;
  border: 4px solid var(--negro);
  border-top: 4px solid var(--blanco);
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

#lowResolutionDeviceAlert {
  display: none;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 100%;
}

@media (max-width: 319px) {
  #lowResolutionDeviceAlert {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
    width: 95%;
    height: 100vh;
    padding: 20px;
  }

  .App {
    display: none;
  }
}
