.formContainerHome {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px;
}
.formContainerHome h3 {
  margin-bottom: 40px;
}

.contactFormMain {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: auto;
  justify-content: center;
  align-items: center;
}

.formContactBtn {
  color: var(--blanco);
}

.form-control {
  border-style: hidden;
}

.btnSubmitForm {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 2.5rem;
  background-color: var(--cafeBase);
  color: var(--blanco);
  border-style: hidden;
  border-radius: 20px;
  padding-left: 1rem;
  padding-right: 1rem;
  gap: 0.5rem;
}

.btnSubmitForm p {
  margin: 0;
  padding: 0;
  font-weight: var(--Link);
}

.btnSubmitForm:hover {
  background-color: var(--gris);
  color: var(--blanco);
}

.contactFormMain form {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
