@media (max-width: 1000px) {
  .footerLogo {
    width: 50%;
  }
  .footerLinksWrapper {
    display: none;
  }
}

@media (min-width: 1001px) and (max-width: 1500px) {
  .footerLink {
    line-height: normal;
  }
}
