@media (min-width: 768px) {
  .homeTitlesContainer {
    width: 100%;
  }

  .carruselContainer {
    display: flex;
  }

  .homeTitle1 {
    font-size: var(--h1);
  }

  .homeTitle2 {
    width: 100%;
    height: auto;
    font-size: var(--h2);
  }

  #contactPhonesTitle--mobile {
    display: none;
  }

  #contactPhonesTitle--desktop {
    display: flex;
    font-size: var(--h3);
  }

  .phonesWrapper {
    width: 70%;
  }

  .serviciosCardsContainer {
    justify-content: center;
    align-items: center;
  }

  .servicioCard {
    width: 70%;
  }

  .mapGalleryContainer {
    width: 80%;
  }

  #mapBig {
    display: block;
    width: 100%;
    height: auto;
  }

  #mapSmall {
    display: none;
  }

  .historiaContainer {
    width: 80%;
  }

  .argumentCard {
    width: 80%;
  }
}

@media (min-width: 992px) {
  .homeTitlesContainer {
    width: 60%;
  }

  .carruselContainer img {
    width: 35%;
  }
}
