@media (max-width: 320px) {
  #contactPhonesTitle--mobile {
    display: none;
  }
}

@media (max-width: 480px) {
  .phoneButton,
  .phoneWhatsapp {
    width: 70%;
  }

  .contactPhonesContainer h3 {
    font-size: var(--h5) !important;
    margin-bottom: 20px;
  }

  .servicioIncludesGallery {
    flex-direction: column;
  }

  #imagenFloreria2 {
    display: none;
  }
}

@media (max-width: 400px) {
  .homeTitlesContainer h1 {
    font-size: var(--h4);
    width: 130%;
  }
}

@media (min-width: 401px) and (max-width: 759px) {
  .homeTitlesContainer h1 {
    font-size: var(--h4);
    width: 120%;
  }
}

@media (min-width: 321px) and (max-width: 760px) {
  .viewHomeContainer {
    justify-content: center;
  }

  #contactPhonesTitle--mobile {
    font-size: var(--h5);
    display: initial;
    width: 100%;
  }
}

@media (max-width: 760px) {
  #mapBig {
    display: none;
  }

  #mapSmall {
    display: block;
    width: 100%;
    height: auto;
  }
}

@media (max-width: 760px) {
  .homeTitlesContainer h2 {
    display: none;
  }

  .carruselContainer {
    display: none;
  }

  .contactPhonesContainer {
    width: 95%;
    margin-top: 20px;
  }

  #contactPhonesTitle--desktop {
    display: none;
  }

  .contactPhonesContainer h4 {
    display: none;
  }

  .contactPhonesContainer h3 {
    font-size: var(--h4);
    margin-bottom: 20px;
  }

  .phoneButton .callPhone h5 {
    font-size: var(--p);
  }

  .phoneButton h5 {
    font-size: 10pt;
  }

  .phoneWhatsapp h5 {
    font-size: var(--p);
    margin-top: 5px;
  }

  .serviciosCardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .servicioCard {
    width: 100%;
  }

  .historiaContainer {
    flex-direction: column;
  }

  .historiaTextBox {
    width: 100%;
    height: auto;
  }

  .historiaImg {
    width: 100%;
  }

  .argumentsWrapper {
    width: 120%;
  }

  .argumentsContainer {
    flex-direction: column;
  }

  .argumentCard {
    width: 100%;
    height: auto;
  }

  .faqsWrapper h3 {
    width: 80%;
  }

  .faqsContainer {
    width: 90%;
  }

  .ilustracionFooter {
    width: 90%;
  }

  .ilustracionFooter img {
    width: 50%;
    margin-right: -50px;
  }
}

@media (max-width: 1279px) {
  .phonesWrapper {
    flex-direction: column;
  }

  .carruselContainer {
    width: 100%;
  }

  .contactPhonesContainer {
    width: 90%;
  }

  .serviciosCardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }

  .servicioCard {
    width: 100%;
  }

  .historiaContainer {
    flex-direction: column;
  }

  .historiaTextBox {
    width: 100%;
    height: auto;
  }

  .historiaImg {
    width: 100%;
  }

  .argumentsWrapper {
    width: 120%;
  }

  .argumentsContainer {
    flex-direction: column;
  }

  .argumentCard {
    width: 100%;
    height: auto;
  }

  .faqsWrapper h3 {
    width: 80%;
  }

  .faqsContainer {
    width: 90%;
  }

  .ilustracionFooter {
    width: 90%;
  }

  .ilustracionFooter img {
    width: 50%;
    margin-right: -50px;
  }
}

@media (min-width: 1280px) {
  .contactPhonesContainer {
    width: 50%;
  }
}

@media (min-width: 1400px) {
  .contactPhonesContainer {
    width: 40%;
  }
}
