.whatsappWrapper {
  position: -webkit-sticky;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  top: 80%;
  left: 85%;
  margin-top: -100px;
  color: var(--ok);
}

.whatsappWrapper:hover > .whatsappCircle {
  color: var(--blanco);
  background-color: var(--ok);
}

.whatsappCircle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-style: hidden;
  border-radius: 100%;
}
